<h2>GRADES</h2>
<%= link_to 'New Grade', new_grade_path %>
<table>
	<tr>
		<td>No </td>
		<td>Name </td>
		<td>Action </td>
	</tr>
	<% @grades.each.with_index do |grade,index| %>
		<tr>
			<td><%= "#{index + 1}" %></td>
			<td><%= grade.name %></td>
			<td> 
				<%= link_to 'Show', grade_path(grade.id) %> |
				<%= link_to 'Edit', edit_grade_path(grade.id) %> |
		  	<%= link_to 'Destroy', grade_path(grade.id), method: :delete, data: { confirm: 'Are you sure?' } %>
	  	</td>
		</tr>
	<% end %>
</table>