<% total_answer = @exam_question.student_answers.count %>

<h1>DETAILS QUESTION </h1>
<%= link_to 'Change Exam', question_path(params[:id], clear_exam_id: true) %>
<p>
	<strong>Title:</strong>
	<%= @question.title %>
	<br/>
	<strong>Key:</strong>
	<%= @question.key %>
	<br/>
	<strong>Subject:</strong>
	<%= @question.subject.name %>
	<br/>
</p>

<%= render partial: 'table_term_frequency', locals: { student_answers: @exam_question.student_answers, text_collection: @uni_gramed_key, answer_term_frequency_key: :uni_gram } %>
<br />
<%= render partial: 'table_term_frequency', locals: { student_answers: @exam_question.student_answers, text_collection: @bi_gramed_key, answer_term_frequency_key: :bi_gram } %>
<br />
<%= render partial: 'table_term_frequency', locals: { student_answers: @exam_question.student_answers, text_collection: @tri_gramed_key, answer_term_frequency_key: :tri_gram } %>
