<hr />
	<h2>STUDENTS</h2>
	<%= link_to 'New Student', new_student_path %>
	<table>
	<tr>
		<td><strong>No</strong></td>
		<td><strong>Name</strong></td>
		<td><strong>Gender</strong></td>
		<td><strong>Grade</strong></td>
		<td colspan="3"><strong>Actions</strong></td>
	</tr>
<% @students.each.with_index do |student,index| %>

<p>
	<tr>
		<td><%= "#{index + 1}" %></td>
		<td><%= student.name %></td>
		<td><%= student.gender %></td>
		<td>
		<%= #student.grade.try(:name) 
				if student.grade.present?
					student.grade.name
				end
		%>
		</td>
	<td colspan="3">
	<%= link_to 'Show', student_path(student.id) %>
	<%= link_to 'Edit', edit_student_path(student.id) %>
  <%= link_to 'Destroy', student_path(student.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</p>
 <% end %>
 
</table>
<%= paginate @students %>


