<h1>DETAILS teacher</h1>
<p id="notice"><%= notice %></p>

<p>
	<strong>Name:</strong>
	<%= @teacher.name %>
	<br/>
	<strong>Gender:</strong>
	<%= @teacher.gender %>
	<br/>
	<strong>Email:</strong>
	<%= @teacher.email %>
	<br/>
	<strong>Contact:</strong>
	<%= @teacher.contact %>
	<br/>
</p>
