<% if student_answer.persisted? %>
  <% path = student_answer_path(student_answer.id, exam_id: params[:exam_id]) %>
<% else %>
  <% path = student_answers_path(exam_id: params[:exam_id]) %>
<% end %>

<%= form_for student_answer, url: path do |f| %>
  <% if student_answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student_answer.errors.count, "error") %> prohibited this student_answer from being saved:</h2>
      <ul>
      <% student_answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
  <%= f.label :student_id, 'Student' %>
  <%= f.select :student_id, @student_options, include_blank: false %><br />
  <%= f.label :exam_question_id, 'Question' %>
  <%= f.select :exam_question_id, @question_options || [], include_blank: false %><br />
  <%= f.label :response %>
  <%= f.text_area :response, rows: 5, cols: 50 %><br />
  <%= f.label :teacher_score, 'Teacher Socre' %>
  <%= f.text_field :teacher_score %><br />
  <%= f.submit %>
<% end %>
