<h2>STUDENT ANSWERS</h2>
<%= link_to 'New Student Answer', new_student_answer_path, :class => 'btn btn-primary' %>
<table class="table table-striped">

	<tr>
		<th><strong>No</strong></th>
		<th><strong>Name Student</strong></th>
		<th><strong>Question Number</strong></th>
		<th><strong>Response</strong></th>
		<th><strong>Uni Gram</strong></th>
		<th><strong>Bi Gram</strong></th>
		<th><strong>Tri Gram</strong></th>
		<th><strong>Teacher Scoring</strong></th>
		<th><strong>Score</strong></th>
		<th colspan="3"><strong>Actions</strong></th>
	</tr>
<% @student_answers.each.with_index do |student_answer,index| %>

<p>
	<tr>
		<td><%= "#{index + 1}" %></td>
		<td>
		<%= #student.grade.try(:name)
				if student_answer.student_id.present?
					student_answer.student.name
				end
		%>
		<td>
		<%= #student.grade.try(:name)
				if student_answer.exam_question.present?
					student_answer.exam_question.question_id
				end
		%>
		<td><%= student_answer.response %></td>
		<td><%= student_answer.uni_gram_weight %></td>
		<td><%= student_answer.bi_gram_weight %></td>
		<td><%= student_answer.tri_gram_weight %></td>
		<td><%= student_answer.teacher_score %></td>
		<td><%= student_answer.score %></td>
	<td colspan="3">
	<%= link_to 'Edit', edit_student_answer_path(student_answer.id),:class => 'btn btn-xs btn-success' %>
  <%= link_to 'Destroy', student_answer_path(student_answer.id), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-xs btn-danger' %></td>
</p>

<% end %>
</table>
<%= paginate @student_answers %>


